<div class="index-container d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>
  <%= render 'layouts/partials/search-bar' if current_page?(root_path) %>

  <div class="list-of-items container m-5">
    <%= render 'layouts/partials/sorting_component' if current_page?(root_path) %>
    <div class="row">
      <% if @items.empty? %>
        <p>No items found.</p>
        <%= render 'layouts/partials/back_to_products' %>
      <% else %>
        <% @items.each do |item| %>
          <div class="col-4 mb-5">
            <%= render 'layouts/partials/card', item: item %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
