<div class="card">
  <div class="card-image-container">
    <img src=<%= item_image(item) %> class="card-img-top" alt="food image">
  </div>
  <div class="card-body">
  <%= link_to item_path(item) do %>
    <h5 class="card-title"><%= item_name(item) %></h5>
  <% end %>
  <%= link_to item_path(item) do %>
    <p class="card-text"><%= item_description(item) %></p>
  <% end %>
    <p class="card-text">€ <%= item_price(item) %></p>
  </div>
  <%= form_for(@order_item) do |f| %>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.text_field :quantity, value: 1, min: 1, class: "form-control" %>
    <%= f.submit "Add to cart", class: "btn btn-primary btn-sm" %>
  <% end %>
  </div>
